* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    color: #333;
    text-align: center;
    transition: 0.3s;
    background-color: rgb(179, 123, 228);
}

header {
    padding: 20px;
    background: #222;
    color: white;
}

#darkModeBtn {
    margin-top: 10px;
    padding: 8px 15px;
    cursor: pointer;
}

/* Search */
#searchInput {
    width: 60%;
    padding: 10px;
    margin: 15px auto;
    display: block;
    font-size: 16px;
}

/* Filters */
.filters {
    margin: 15px;
}

.filters button {
    padding: 8px 15px;
    margin: 5px;
    cursor: pointer;
    border: none;
    background: #444;
    color: white;
    border-radius: 5px;
}

/* Gallery */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 15px;
    padding: 20px;
}

.gallery img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s;
}

.gallery img:hover {
    transform: scale(1.05);
}

/* Popup */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.9);
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.popup img {
    max-width: 200;
    max-height: 200;
}

.close {
    position: absolute;
    top: 20px;
    right: 40px;
    font-size: 40px;
    color: white;
    cursor: pointer;
}

/* Dark Mode */
.dark {
    background: #111;
    color: white;
}